embedded/shared/
software/shared/
deploy*/
*/shared/
*shared*
*.*~
*.a
*.o
*.d
*.bin
*.out
*.map
*.lst
*.zip
*.tar.gz
*.rar

* asd
	* qwe


	qkthings
	  embedded
	    shared/toolchain
	    (repos)
	  software
	    (repos)
	  hardware   